/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace iconbutton "com.component.iconbutton.*";
@namespace ns "http://www.supermap.com/mobile/2010";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ns1 "http://flex.apache.org/experimental/ns";


@font-face {
	src:url("../font/yh.ttf");
	fontFamily: "embedF";
	fontStyle: normal;
	fontWeight: normal;
	advancedAntiAliasing: true;
	embed-as-cff:false;
}

@font-face {
	src:url("../font/yh.ttf");
	fontFamily: "embedT";
	fontStyle: normal;
	fontWeight: normal;
	advancedAntiAliasing: true;
	embed-as-cff:true;
}

global
{
	fontFamily:"embedT,embedF";
	content-background-alpha: 0;
	backgroundColor:#FFFFFF;
}
s|Label
{
	fontFamily:"embedT";
}

s|TextInput
{
	fontFamily:"embedF";
}

ns|Map
{
	backgroundImage:Embed('assets/common/image/mapbg.png');
	backgroundImageRepeat:true
}

s|ActionBar
{
	chromeColor:#FFFFFF;
	defaultButtonAppearance:normal;
}

s|ActionBar.beveled s|Group#actionGroup s|Button,
s|ActionBar.beveled s|Group#navigationGroup s|Button
{
	skinClass:ClassReference("com.skin.NoBorderButtonSkin");
	iconPlacement:left
}


s|Button
{
	skinClass:ClassReference("com.skin.NoBorderButtonSkin");
	iconPlacement:left
}

s|List
{
    contentBackgroundColor:#FFFFFF;
	color:#000000;
}

.OperationButton
{
	skinClass:ClassReference("com.skin.OperationButtonSkin")
}

.itemStyle
{
	color: #0e0e0e;
}

.messageStyle
{
	color: #686A70;
}

