/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace iconbutton "com.component.iconbutton.*";
@namespace ns "http://www.supermap.com/mobile/2010";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ns1 "http://flex.apache.org/experimental/ns";


@font-face {
	src:url("../font/msyh.ttf");
	fontFamily: "msyh";
	fontStyle: normal;
	fontWeight: normal;
	advancedAntiAliasing: true;
	embed-as-cff:true;
}

global
{
	fontFamily:"msyh";
	content-background-alpha: 0;
	backgroundColor:#FFFFFF;
}

ns|Map
{
	backgroundImage:Embed('assets/common/image/mapbg.png');
	backgroundImageRepeat:true
}

s|ActionBar
{
	chromeColor:#FFFFFF;
	defaultButtonAppearance:normal;
}

s|ActionBar.beveled s|Group#actionGroup s|Button,
s|ActionBar.beveled s|Group#navigationGroup s|Button
{
	skinClass:ClassReference("com.skin.NoBorderButtonSkin");
	iconPlacement:left
}


s|Button
{
	skinClass:ClassReference("com.skin.NoBorderButtonSkin");
	iconPlacement:left
}

s|List
{
    contentBackgroundColor:#FFFFFF;
}

.OperationButton
{
	skinClass:ClassReference("com.skin.OperationButtonSkin")
}

.itemStyle
{
	color: #0e0e0e;
}

.messageStyle
{
	color: #686A70;
}

/**
@font-face {
	src: url("assets/common/fonts/Roboto-Regular.ttf");
	fontFamily: "comic";
	embedAsCFF: false;
}

@font-face {
	src: url("assets/common/fonts/Roboto-Bold.ttf");
	fontFamily: "comic";
	fontWeight: bold;
	embedAsCFF: false;
}

@font-face {
	src: url("assets/common/fonts/Roboto-Regular.ttf");
	fontFamily: "comicCFF";
	embedAsCFF: true;
}

@font-face {
	src: url("assets/common/fonts/Roboto-Bold.ttf");
	fontFamily: "comicCFF";
	fontWeight: bold;
	embedAsCFF: true;
}**/

/*s|Label
{
	fontFamily: "comicCFF";
}

s|ActionBar
{
	fontFamily: "comic";
}

s|LabelItemRenderer
{
	fontFamily: "comic";
}*/

